<!--
 - Created by Cain on 28/08/2018.
 -->

<apex:page standardController="Extract__c" extensions="ExtractExtension"  lightningStyleSheets="true">
    <apex:variable value="{!Extract}" var="ex" />

    <apex:pageMessages id="msg" />

    <apex:form >
        <apex:pageBlock title="Generate Extract" >    
            <apex:pageBlockSection title="Extract Parameters" collapsible="false" columns="2">
                  <apex:inputField value="{!ex.From_Date__c}" required="true" />
                  <apex:inputField value="{!ex.To_Date__c}" required="true" />
            </apex:pageBlockSection>
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton value="Generate" action="{!saveOverride}"/>
                <apex:commandButton value="Cancel" action="{!cancel}"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
</apex:page>